.App {
  text-align: center;
}

/* Navbar */
.navbar {
  display: absolute;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(48, 192, 12);
  color: whitesmoke;
}

#home-icon {
  display: flex;
  align-self: start;
}

.link-create-button {
  background-color: whitesmoke;
  border: none;
  font-size: 12px;
  padding: 0;
  border-radius: 5px;
}

.nav-link {
  color: black;
}

.link {
  color: whitesmoke;
}

.link:hover {
  color: #00F
}

/* CreateCategory */
.category-container {
  margin: 0 auto;
  padding-top: 20px;
}

.category-form {
  width: 50%;
  margin: 0 auto;
}

input:invalid {
  box-shadow: none;
}

/* EditCategory */


/* StandardCategories */
.category-items-container {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-items {
  list-style: none;
  padding-left: 0;
}

.category-items h6 {
  font-weight: bold;
}

.category-button {
  background: rgb(48, 192, 12);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
  transition-duration: 0.3s;
}

.category-button:hover {
  color: #00F
}
